.ICMainCont{
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    overflow: scroll;
}

/* .ICCardCont{
    padding-top: 4%;
    height: 90%;
    width: 100%;
    text-align: center;
    color: white;
    overflow: scroll;
} */

