
.Text{
font-family: 'Courier New', Courier, monospace;
font-size: 40px;
margin-top: 3%
}

#TypewriterText{
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  margin-top: 3%
  }
/* 
.MainCont{
background: rgba( 255, 225, 225, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 25px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
} */

.MainCont{
height: 90%;
width: 100%;
/* margin-top: 8%; */
height: 30vh;
position: absolute;
}

.ButtonCont{
margin-top: 1.5%;
position: relative;
width: 100%;
}

.GoButton{
margin-left: 47%;
float: left;
}

.SurpriseButton{
    margin-right: 40%;
    float: right;
}

.GoButtonStyle{
    background-image: linear-gradient(to bottom right, purple,  rgb(24, 2, 150), black);
  }

  .GoButtonStyle2{
    background-color: white
  }

  .SurpriseButtonStyle{
    background-image: linear-gradient(to bottom right, purple,  rgb(24, 2, 150), black);
  }

  .Dark{
    background-color: rgba(102, 97, 97, 0.7);
    height: 1000%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    visibility: hidden
    /* position: fixed; */
  }

  .Form{
    height: 70vh;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to bottom right, purple,  rgb(24, 2, 150), black);
    color: white;
    border-radius: 25px;
    overflow: scroll;
  }

  .SmallText{
    font-family: 'Courier New', Courier, monospace;
    font-size: 27px;
    margin-top: 5%
    }

  .Left{
    margin-left: 10%;
    margin-top: 5%;
    overflow: scroll
  }

  .SmallerText{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding-top: 5%
    }
  
    .SmallerTextAbs{
      font-family: 'Courier New', Courier, monospace;
      font-size: 30px;
      /* position: absolute; */
      /* font-weight: 501; */
      text-align: center;
      background-image: linear-gradient(to bottom right, purple,  rgb(24, 2, 150), black);
      color: white
      }