<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <style>
      .hidden {
        display: none;
      }
    </style>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/home/app.css" />

    <title>Candii</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav
      id="mainNav"
      class="navbar navbar-expand-md navbar-dark fixed-top py-0"
    >
      <a class="navbar-brand" href="#">CANDII</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="treat">TREAT</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Layer 1 -->
    <section>
      <div class="container-fluid px-0">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div id="headingGroup" class="text-center d-none d-lg-block mt-5">
              <h1>TREAT<span>/</span>WITH<span>/</span>CANDII</h1>
              <h1>TREAT<span>/</span>WITH<span>/</span>CANDII</h1>
              <h1>TREAT<span>/</span>WITH<span>/</span>CANDII</h1>
              <h1>TREAT<span>/</span>WITH<span>/</span>CANDII</h1>
              <h1>TREAT<span>/</span>WITH<span>/</span>CANDII</h1>
              <h1>TREAT<span>/</span>WITH<span>/</span>CANDII</h1>
              <h1>TREAT<span>/</span>WITH<span>/</span>CANDII</h1>
            </div>
          </div>
          <div class="col-lg-6">
            <img class="img-fluid" src="../static/home/imgs/hand2.png" />
          </div>
        </div>
      </div>
    </section>

    <!-- Layer 2 -->
    <section>
      <div class="container-fluid px-0">
        <div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-1">
            <img class="img-fluid" src="../static/home/imgs/milk.png" />
          </div>
          <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
              <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                <h2>WHAT IS Candii?</h2>
                <img
                  class="d-none d-lg-inline"
                  src="../static/home/imgs/lolli_icon.png"
                  alt=""
                />
                <p class="lead">
                  Candii is a non-profit blockchain based DeFi application that allows 
                  users to support their favourite local businesses and content creators 
                  who are affected by the pandemic and the rise of ads on social media platforms.  
                  Users can browse a list of local businesses and content creators and treat them 
                  with Candii where each Candii is $5 worth of Etherium.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Layer 3 -->
        <div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-2">
            <img class="img-fluid" src="../static/home/imgs/gumball.png" />
          </div>
          <div class="col-md-6 text-center order-1 order-md-1">
            <div class="row justify-content-center">
              <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                <h2>HOW DOES Candii WORK?</h2>
                <img
                  class="d-none d-lg-inline"
                  src="../static/home/imgs/lolli_icon.png"
                  alt=""
                />
                <p class="lead">
                  Candii uses the MetaMask API to perform all the transactions between users and 
                  the client using their respective MetaMask wallet address. We ensure that 100% of 
                  the donations go through to the local businesses and content creators. This is 
                  made possible by Coil Web Monetization API. With the support of Coil members, 
                  we are able to keep our website up and running.
                </p>
                <img 
                    class="api"
                    src="../static/home/imgs/fox.png"
                />
                <img 
                    class="api"
                    src="../static/home/imgs/coil.png"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Layer 3 -->
        <div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-1">
            <img class="img-fluid" src="../static/home/imgs/sprinkles.png" />
          </div>
          <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
              <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                <h2>WHO MADE CANDII?</h2>
                <img
                  class="d-none d-lg-inline"
                  src="../static/home/imgs/lolli_icon.png"
                  alt=""
                />
                <p class="lead"> </p>
                <img 
                    class="memoji1"
                    src="../static/home/imgs/anujj.png"
                />
                <img 
                    class="memoji"
                    src="../static/home/imgs/tanmay.png"
                />
                <img 
                    class="memoji"
                    src="../static/home/imgs/abhi.png"
                />
                <br>
                <h4 id="exclusive" class="hidden"> Thank you for visiting and using Coil! </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/14195fe261.js"
      crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $(document).scroll(function () {
          var $nav = $("#mainNav");
          $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
        });
      });
    </script>
  </body>
</html>
